node_modules
node_modules/

# builds
dist/
.dist/
.vite/
coverage/

# env
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor/system
.vscode/
.DS_Store
Thumbs.db
